body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}
.container{
  padding: 20px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
}
.search-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title {
  color: white;
  background-color: #000000;
  padding: 20px;
}
.search{
  width: 500px;
  padding: 10px;
  height: 20px;
}


.buttons {
  text-align: center;
  margin-bottom: 15px;
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  background-color: #333;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: #000000;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

thead {
  background-color: #e8e5e5;
  color: rgb(10, 9, 9);
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}